extends ./layouts/app.pug

block content
  form(method='post' action="/auth")
    div
      input(name="login" placeholder="Login" required)
    div
      input(name="password" type="password" placeholder="password" required)
    div
      input(type="submit" value="LogIn")