doctype html
html
  head
    meta(name='viewport' content='width=device-width' initial-scale='1.0')
    title Auth Page
  body
    form(method='post' action="/auth")
      div
        input(name="login" placeholder="Login" required)
      div
        input(name="password" type="password" placeholder="password" required)
      div
        input(type="submit" value="LogIn")