extends ./layouts/app.pug

block content
  h3= login
  div
    a(href="/") Main Page
  table
    tbody
      tr
        th All News
        a(href="/post-news") Create News
      each news in allNews
        tr
          td
            a(href=`/show-news/${news._id}`)= news.title
