doctype html
html
  head
    meta(name='viewport' content='width=device-width' initial-scale='1.0')
    title Reg Page
  body
    form(method='post' action="/reg")
      div
        input(name="login" placeholder="Login" required)
      div
        input(name="email" placeholder="example@example.com" required)
      div
        input(name="password" type="password" placeholder="password" required)
      div
        input(type="submit" placeholder="Sign Up" value="Registration")