extends ./layouts/app.pug

block content
  form(method='post' action="/reg")
    div
      input(name="login" placeholder="Login" required)
    div
      input(name="email" placeholder="example@example.com" required)
    div
      input(name="password" type="password" placeholder="password" required)
    div
      input(type="submit" placeholder="Sign Up" value="Registration")