extends ./layouts/app.pug

block content
  div
    a(href='/news') Back to News
  div
    h2= news.title
    h3= author
    p= news.body
  if canEdit
    div
      a(href=`/edit-news/${newsId}`) Edit News