doctype html
html
  head
    meta(name='viewport' content='width=device-width' initial-scale='1.0')
    title Main Page
  body
    div
      a(href='/news') Back to News
    div
      h2= news.title
      p= news.body
    if author
      div
        a(href="/edit-news") Edit News